div {
  width: 20%;
  margin: 5px;
  padding: 20px; 
  font-family: 'Times New Roman', Times, serif;
  border: 2px solid rgb(5, 104, 41);
  border-radius: 20px;
  
  
}

.green {
  background-color: #006A52;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
#osm {
  background-color: rgb(6, 161, 112);
  color: rgb(11, 113, 83);
  padding: 30px;
  text-align: center;
  
}

#o {
  background-color: rgb(2, 72, 92);
  padding: 20px; 
}

.os{
  background-color: #0b7837;
  text-align: center;
  padding: 20px;
}


.a{
  background-color: #065537;
   width: 20%;
   padding: 10px;
   text-align: center;
}


#posisjonert {
  width: 150px;
  height: 150px;
  padding: 10px;
  position: fixed;
  right: 50px;
  top: 100px;
  background-color: #31b120;
}
   